div.jp-single-player {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size:1.25em;
	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #666;
}

div.jp-interface {
	position: relative;
	background: transparent;
	margin: 10px auto;
	width:205px;
	height:45px;
}

div.jp-single-player div.jp-interface {
	border-bottom:none;
}

div.jp-interface ul.jp-controls {
	list-style-type:none;
	padding:0;
	margin: 0;
}

div.jp-interface ul.jp-controls li {
	position: absolute;
}

div.jp-interface ul.jp-controls a {
	position: absolute;
	overflow:hidden;
	text-indent:-9999px;
}

a.jp-play,
a.jp-pause {
	top:2px;
	width:40px;
	height:40px;
}

div.jp-single-player a.jp-play,
div.jp-single-player a.jp-pause {
	left:10px;
}

a.jp-play {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") 0 0 no-repeat;
}

a.jp-play:hover {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") -41px 0 no-repeat;
}

a.jp-pause {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") 0 -42px no-repeat;
	display: none;
}

a.jp-pause:hover {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") -41px -42px no-repeat;
}

a.jp-stop {
	top:8px;
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") 0 -83px no-repeat;
	width:28px;
	height:28px;
}

div.jp-single-player a.jp-stop {
	left:50px;
}

a.jp-stop:hover {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") -29px -83px no-repeat;
}

div.jp-progress {
	position: absolute;
	overflow:hidden;
	top:17px;
	background-color: #ddd;
	width:92px;
	height:10px;
}

div.jp-single-player div.jp-progress {
	left:90px;
}

div.jp-load-bar {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") 0 -202px repeat-x;
	width:0px;
	height:10px;
	cursor: pointer;
}

div.jp-play-bar {
	background: url("/web/20220120021911im_/http://levadaphotography.com/wp-content/themes/photocrati-theme/scripts/jplayer.blue.monday.png") 0 -218px repeat-x ;
	width:0px;
	height:10px;
}
/*
     FILE ARCHIVED ON 02:19:11 Jan 20, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:03:54 Nov 23, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.614
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.008
  cdx.remote: 7.056
  LoadShardBlock: 133.18 (3)
  PetaboxLoader3.datanode: 80.254 (4)
  PetaboxLoader3.resolve: 132.545 (2)
  load_resource: 86.122
*/